<%= form_for @movement do |f|  %>
<%= form_error_tag (@movement) %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= error_tag(@movement, :name) %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
