<!DOCTYPE html>
<html>
  <head>
    <title>Trackbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/user_navbar' %>
    <% end %>

    <% if admin_signed_in? %>
      <%= render 'layouts/admin_navbar' %>
    <% end %>

    <div class="content-container">
      <%= yield %>
    <div>
  </body>
</html>
